[submodule "modules/lelesk"]
	path = modules/lelesk
	url = https://github.com/letuananh/lelesk
[submodule "modules/puchikarui"]
	path = modules/puchikarui
	url = https://github.com/letuananh/puchikarui
[submodule "modules/yawlib"]
	path = modules/yawlib
	url = https://github.com/letuananh/yawlib
