[submodule "pydelphin"]
	path = pydelphin
	url = https://github.com/goodmami/pydelphin.git
[submodule "puchikarui"]
	path = puchikarui
	url = https://github.com/letuananh/puchikarui
[submodule "lelesk"]
	path = lelesk
	url = https://github.com/letuananh/lelesk.git
[submodule "nltk_github"]
	path = nltk_github
	url = https://github.com/nltk/nltk.git
[submodule "chirptext"]
	path = chirptext
	url = https://github.com/letuananh/chirptext.git
